.label {
  composes: label from '../../../components/primitive/css-modules/stat-display-base.module.css';
}

.stat {
  composes: stat from '../../../components/primitive/css-modules/stat-display-base.module.css';
}

.value {
  composes: value from '../../../components/primitive/css-modules/stat-display-base.module.css';
}
