.section {
  composes: insetSectionBase from '../../components/primitive/css-modules/inset-section-base.module.css';

  display: grid;
  gap: var(--space-sm);
  margin: 0 auto var(--space-md);
  max-width: 420px;
  text-align: left;
}
