.statBarBase {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 8px;
  overflow: hidden;
}

.statBarFillBase {
  border-right: 1px solid black;
  border-top-right-radius: var(--space-xl);
  height: 100%;
}
