.label {
  composes: statLabelBase from './stat-row-base.module.css';
}

.stat {
  composes: statRowBase from './stat-row-base.module.css';
}

.value {
  composes: statValueBase from './stat-row-base.module.css';
}
