.headerControls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--space-md);
  width: 100%;
}

.headerLayout {
  margin: 0 auto;
  width: fit-content;
}

@media(max-width: 768px) {
  .headerControls {
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
  }

  .headerLayout {
    width: 100%;
  }
}
