.header {
  display: flex;
  justify-content: space-around;
}

.navigationButton {
  border-color: transparent;
  position: relative;
}

.navigationButton:hover {
  background-color: transparent;
  border-color: transparent;
}

.navigationImage {
  max-height: 120px;
  position: relative;
  z-index: 1;
}

.navigationMask {
  background-color: var(--color-red);
  inset: 0;
  mask-image: var(--navigation-mask);
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  opacity: 0.6;
  pointer-events: none;
  position: absolute;
}

@media(max-width: 768px) {
  .header {
    gap: var(--space-md);
    justify-content: flex-start;
    overflow-x: auto;
    position: relative;
    right: var(--space-xl);
    scroll-snap-type: x mandatory;
    width: calc(100% + var(--space-xl) * 2);
    padding: 40px 150px 0;
  }

  .navigationButton {
    scroll-snap-align: center;
  }
}
