.header {
  display: flex;
  justify-content: space-around;
}

.navigationButton {
  border-color: transparent;
}

.navigationButton:hover {
  background-color: transparent;
  border-color: transparent;
}

.navigationImage {
  max-height: 120px;
}
