.details {
  composes: verticalListBase from '../../../components/primitive/css-modules/stat-list-base.module.css';
}

.stat {
  composes: statRowBase from '../../../components/primitive/css-modules/stat-row-base.module.css';

  margin: 0;
}

.label {
  composes: statLabelBase from '../../../components/primitive/css-modules/stat-row-base.module.css';
}

.value {
  composes: statValueBase from '../../../components/primitive/css-modules/stat-row-base.module.css';

  margin: 0;
}
