.details {
  composes: verticalListBase from '../../../components/primitive/css-modules/vertical-list-base.module.css';
}

.label {
  composes: label from '../../../components/primitive/css-modules/stat-display-base.module.css';
}

.stat {
  composes: stat from '../../../components/primitive/css-modules/stat-display-base.module.css';

  margin: 0;
}

.value {
  composes: value from '../../../components/primitive/css-modules/stat-display-base.module.css';

  margin: 0;
}
