.event {
  composes: cardListItemBase from '../../../components/primitive/css-modules/card-list-base.module.css';

  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: 0 0 var(--space-sm);
}

.events {
  composes: cardListBase from '../../../components/primitive/css-modules/card-list-base.module.css';
  composes: verticalListBase from '../../../components/primitive/css-modules/vertical-list-base.module.css';
}

.events li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.outcome {
  composes: goldLabelBase from '../../../components/primitive/css-modules/gold-label-base.module.css';
}
