.event {
  border-bottom: 1px solid var(--color-border-subtle);
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
  padding: 0 0 var(--space-sm);
}

.events {
  list-style: none;
  padding: 0;
}

.events li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
